.topBar {
    border-radius: 0;
}

.topBar .container {
    margin-left: inherit;
    width: 100%;
}

.topBar .navbar-brand:hover {
    color: #9d9d9d;
}

.screen-container {
    display: flex;
    justify-content: center;
}

.screen {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.ledRow {
    display: flex;
}

.led {
    width: 32px;
    height: 32px;
    margin: 2px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-container {
    display: flex;
    width: auto;
}

/* Already solved */

.color-container {
    display: flex;
    margin-bottom: 20px;
}

.clock-color-select {
    margin-right: 30px;
    flex-direction: row;
}